.message {
  width: 100%;
  padding: 1rem;
  margin: 1rem auto;
  text-align: center;
  border: 1px solid #000;
  border-radius: 0.2rem;
}

.success {
  color: #155724;
  background: #d4edda;
  border-color: #c3e56c;
}

.error {
  color: #721c24;
  background: #f8d7da;
  border-color: #f5c6cb;
}
